@import '~bootstrap/scss/bootstrap';

.IndexPage {
  &__link.btn-link {
    padding: 0.25rem 1rem;

    &, &:hover {
      border: 1px solid rgba(0, 0, 0, 0.125);
    }
  }

  tbody > tr > td {
    width: 20%;
  }
}