@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';

.PasswordFieldView {
  &__input-container {
    position: relative;
  }
  &__input {

  }
  &__icon-eye {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: $gray-400;
    cursor: pointer;

    &:hover {
      color: $gray-500;
    }
  }

  &__security-bar {
    margin: 10px 0 0 ;
    height: 4px;
    width: 0;
    border-radius: 3px;
    transition: width 1s;

    &_danger {
      width: 33%;
      background-color: $danger;
    }
    &_warning {
      width: 66%;
      background-color: $warning;
    }
    &_success {
      width: 100%;
      background-color: $success;
    }
  }
}