@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';

.FieldListView {

  &__table {
    th, thead th, td {
      border: none;
    }
  }

  &__table-cell {
    .form-group {
      margin-bottom: 0;
    }

    &_remove {
      vertical-align: middle !important;
    }
  }

  &__table-cell-header {
    padding-bottom: 0 !important;
  }

  &__remove {
    cursor: pointer;
    color: $danger;
  }

  &__link-add {
    margin-left: 0.75rem;
    border-bottom: 1px dashed $link-color;

    &:hover {
      text-decoration: none;
    }
  }

  .FileFieldView__files {
    margin-bottom: 0;
  }
}