$state-info-bg: #d9edf7;

.PermissionRow {
  background-color: #fff;
  &:hover {
    background-color: #f5f5f5;
  }

  &__container {
    display: inline-block;
  }

  &__link {
    padding: 0 5px;
    line-height: 28px;
  }
  &__collapse-icon {
    padding-right: 5px;
    font-size: 12px;
  }
  &__description {
    > code {
      font-size: 12px;
    }
  }
  &__checkboxes {
    display: inline-block;
  }
  &__checkbox {
    display: inline-block;

    &_main {
      border-right: solid 1px #aaa;
    }

    &, > label {
      width: 28px;
      height: 28px;
    }

    > label {
      text-align: center;
      cursor: pointer;

      &:hover {
        background-color: $state-info-bg;
      }

      > input {
        margin-top: 9px;
        cursor: pointer;
      }
    }
  }

}